<style>

  .my_liquid {
    background-color: chartreuse;
    color: darkred;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

  
</style>

<div class="my_liquid">
Hello liquid
</div>


{% schema %}
  {
    "name": "Acb",
    "settings": [
                {
                  "type": "checkbox",
                  "id": "show_announcement",
                  "label": "Show announcement",
                  "default": false
                }



      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}