<style>
.my_liquid{
  
}
  
</style>

<div class="my_liquid">
Hello liquid
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}