<style>

  .my_liquid {
    background-color: chartreuse;
    color: darkred;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

  
</style>

<div class="my_liquid">
Hello liquid
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}