<style>

  .my_liquid {
    background-color: chartreuse;
    color: darkred;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

  
</style>

{% if section.settings.show_announcement %}
<div class="my_liquid">

  {{ section.settings.a_text}}
</div>
  {% endif %}


{% schema %}
  {
    "name": "Acb",
    "settings": [
                {
                  "type": "checkbox",
                  "id": "show_announcement",
                  "label": "Show announcement",
                  "default": true
                },
                {
                  "type": "text",
                  "id": "a_text",
                  "label": "Heading",
                  "default": "Please enter a text"
                }



      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}