
<div class="extra">
    <!-- <h1>I am learning Shopify coding!</h1>
    <h1>I am trying</h1> -->
    
  
  </div>
  {% schema %}
  {
    
  }
  {% endschema %}
  {% assign name = Himel %}
{{name|| downcase}}
<style>
    .extra{
        display: flex;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
        background-color: blueviolet;
    }
</style>